.intro {
    display: flex;
    position: relative;

}

.left {
    display: flex;
    height: 60vh;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.title {
    display: flex;
    flex-direction: column;
}

.title :nth-child(1) {
    color: #000;
    font-weight: 700;
    font-size: 3rem;
}


.title :nth-child(2) {
    color: rgb(86, 86, 103);
    font-weight: 700;
    font-size: 3rem;


}

.title :nth-child(3) {
    color: rgb(79, 79, 91);
    font-weight: 200;
    font-size: 16px;
}

.button {
    width: 8.5rem;
    height: 3rem;
    font-size: 15px;
    margin-right: 16px;
}

.right {
    flex: 1;
    position: relative;
}

.right::after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: 240px;
    left: 120px;
    background: linear-gradient(#454e56, #2f3942);
    border-radius: 50%;
    transition: 0.7s;
    animation: position2 1.5s infinite;
}

@keyframes position2 {

    0%,
    100% {
        top: 240px;
    }

    50% {
        top: 260px;
    }
}

.right::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20px;
    left: 300px;

    background: linear-gradient(#4a444d, #7e7b7b);
    border-radius: 50%;
    transition: 0, 7s;
    animation: position1 1.5s infinite;
}

@keyframes position1 {

    0%,
    100% {
        top: 20px;
    }

    50% {
        top: 40px;
    }
}


.right img {
    position: relative;
    transform: scale(0.75);
    top: -130px;
    z-index: 100;

    animation: position 1.5s infinite;
}

@keyframes position {

    0%,
    100% {
        top: -130px;

    }

    50% {
        top: -110px;

    }
}