.section{
    padding: 2em;
    min-height: 100vh;
    background:  linear-gradient(180deg,#d8e2ea 26.71%,#afc1c1 99.36%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width:40%;
    height: 90%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.card{
    padding: 2em;
    width: 90vm;
    height: 80vm;
    max-width: 1050px;
    position: relative;
}
.panel1,.panel2{
    position: absolute;
    box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    top: 50%;
    transform: translateY(-50%);
}
.panel1{
    background: url('../assets/montre-bracelet-de-croquis-de-vecteur-rétro-77743708\ \(2\).png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 0;
    width: 80%;
    height: 90%;
    overflow: hidden;
    z-index: 4;
}
.panel1::before{
    content:'';
    background: linear-gradient(45deg,#504f54 0%,#1e2831 40%,rgba(37, 50, 58, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panel2{
    background:#746c6d;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.panel2::before{
    background: url('../assets/montre-bracelet-de-croquis-de-vecteur-rétro-77743708\ \(2\).png');
    content: '';
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: -7em;
    transform: translateY(-50%)rotate(-90deg)scale(0.4);
    z-index: 2;
}
.product{
    position: relative;
    z-index: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.product>.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
.product .image img{
    width: 70%;
    filter: drop-shadow(0 0 1em rgba(0,0,0,0.7));
}
.name{
    font-size: 2.8rem;
    margin-bottom: 0.25em;
}
.price{
    font-weight: 300;
    font-size: 1.4em;
    color: #eee;
    margin: 0.4em;
}
.detail{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2em 0;
}
.options{
    padding: 1em 1.5em 1em 0;
    margin: 1em 0;
    border-right:1px #eee solid;
    justify-self: flex-start;
}
.options ul{
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}
.options ul li{
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em;
    border-radius: 3em;
    cursor: pointer;
}
.activeoption{
    border: 1px #746c6d solid;
}

.specs{
  padding-left: 2em;
  text-align: center;
}

.progressbar{
    margin-bottom: 0.5em;
}
.progresscircle{
    position: relative;
    background: transparent;
    border:#0a1821 8px solid;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    overflow: hidden;
}
.progress{
    width: 7em;
    height: 7em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30%;
    background: linear-gradient(0deg ,rgba(128, 128, 128, 0),#b5b5b5);   
    transition: bottom 4.5s;
}

.progresscontent{
    background:#474747;
    width: 5.5em;
    height:5.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
}
.buttons button{
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}
.primary{
    color: white;
    background: #746c6d;
    font-size: 0.9em;
    padding: 1em 2em;
    border-radius: 3em;
    box-shadow: 0 1em 2em #746c6d;
    margin-right: 1em;
    transition: 0.3s;
}
.primary::before{
    background: white;
    color: #746c6d;
}
.secondary{
    background: none;
    border: none;
    color: #ccc;
}
.secondary i{
    color: #746c6d;
    margin-right: 0.5em;
}
.arrowleft, .arrowright{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4em;
    height: 4em;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 4.2em;
    z-index: 2;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.arrowleft{
    left: -1em;
}
.arrowright{
    right: -1em;
    z-index: 7;
}
.arrowleft:hover, .arrowright:hover
{
  background: #000;
  color:white;
}

.fadein{
    animation: fadeIn 0.8s ease-in-out;
}
@media  screen and (max-width: 880px) {
  .panel1, .panel2{
        display:none;
  }
  .card{
    background: linear-gradient(45deg,#29191e 0%,#0c1c29 40%,rgba(12,31,45,0.9) 100%);
    text-align: center;
    height: initial;
    padding: 3em 2em 1em 2em;
    border-radius: 2em;
  }
  .card h1{
    margin-top: 1em;
  }
  .details{
    justify-content: center;
  }
  .detail{
    flex-direction: column;
  }
  .product{
    grid-template-columns: 1fr;
  }
  .image img{
    width: 50%;
  }
  .options{
    border-right: none;
    padding-right: 0;
  }
  .specs{
    padding-left: 0;
  }
  .buttons button{
   display: block;
   margin: 2.5em auto;
  }
}

@media  screen and (max-width: 700px) {
    .section{
        font-size: 13px;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}